.c1 {
    box-shadow: 10px 10px 10px #000;/* 右に10px、下に10px */
    -webkit-box-shadow: 10px 10px 10px #000;
    -moz-box-shadow: 10px 10px 10px #000;
}

.c2 {
    box-shadow: -10px -10px 10px #000;/* 左に10px、上に10px */
    -webkit-box-shadow: -10px -10px 10px #000; 
    -moz-box-shadow: -10px -10px 10px #000;
}

.c3 {
    box-shadow: 10px 10px 10px #000, -10px -10px #000; /* 影を複数指定 */
    -webkit-box-shadow: 10px 10px 10px #000, -10px -10px #000;
    -moz-box-shadow: 10px 10px 10px #000, -10px -10px #000;
}


